
*{margin: 0;
border: 0;
background-color:white ;}

.firstsection{color: rgb(2, 6, 9);
text-align: center;
padding: 5%;}
span{color: #d2ae46;
font-size: 50px;}





#seconsection{text-align: center;
background-color: aqua;}

h3{color: #318a17;;}
#firstpa{color: black;}

.container{margin-top:;}